@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .accent-bg {
      background-color: rgba(250, 250, 249, 0.6);
      border: 2px solid rgba(255, 255, 255, 0.3);
   }
   .pin-in {
      background-color: #fafaf9;
      mix-blend-mode: soft-light;
   }
   .pin-out {
      background-color: rgba(0, 0, 0, 0.08);
      box-shadow:
         inset 0px 3px 1px 0px rgba(255, 255, 255, 22%),
         inset 0px 0px 1.5px 0px rgba(0, 0, 0, 22%);
      filter: blur(4px);
   }
}

html,
body {
   padding: 0;
   margin: 0;
   overflow: hidden;
}

.marker {
   @apply w-[40px] h-[42px] cursor-pointer flex items-center justify-center;
}
.marker .icon {
   @apply relative z-40 flex justify-center items-center w-[18px] h-[18px] text-[18px] leading-none;
}
.marker::before {
   content: '';
   @apply absolute z-10 bg-[url(/img/pin-out.svg)] bg-no-repeat bg-contain w-full h-full rounded-[999%];
   backdrop-filter: blur(4px);
}
.marker::after {
   content: '';
   @apply absolute z-20 bg-[url(/img/pin-in.svg)] bg-no-repeat bg-contain opacity-75 w-[36px] h-[38.4px] rounded-[999%];
}
